:root {
  --color-primary: #f4f4f4;
  --color-primary-trans: hsla(0, 0%, 96%, 0.7);
  --color-primary-shadow-dark: #cfcfcf;
  --color-primary-shadow-light: #fff;
  --color-primary-grad-start: #dcdcdc;
  --color-primary-grad-end: #fff;
  --color-black-shadow-dark: rgba(1, 0, 31, 0.2);
  --color-black-shadow-light: rgba(1, 0, 31, 0.1);
  --color-deepblack: #1a1a1a;
  --color-deepwhite: #fff;
  --color-offwhite: #f4f4f4;
  --color-matteblack: #4d4d4d;
  --color-matteblack-trans: rgba(77, 77, 77, 0.2);
  --color-matteblack-opac60: rgba(77, 77, 77, 0.6);
  --color-mattegrey: #696969;
  --color-mattegrey-30: hsla(0, 0%, 41.2%, 0.3);

  --color-pastelgreen: #48e471;
  --color-pastelgreen-shadow: rgba(137, 226, 161, 0.8);
  --color-pastelred: #ff6565;
  --color-pastelred-shadow: hsla(0, 100%, 70%, 0.8);
  --color-pastelred-shadow-40: hsla(0, 100%, 70%, 0.4);
  --color-comingsoon: #ff8100;
  --color-comingsoon-shadow-40: rgba(255, 128, 0, 0.4);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: Montserrat, Helvetica, sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: var(--color-primary);
  color: var(--color-matteblack);
  font-weight: 300;
  line-height: 1.9;

  /* fade in animation */
  /* opacity: 0; */
  transition: all 0.3s;
}

li,
a {
  color: inherit;
  text-decoration: none;
}

/* ////////////////////// */
/* Scroll Bar */
html::-webkit-scrollbar {
  height: 15px;
  width: 15px;
  overflow: visible;
}

html::-webkit-scrollbar-button {
  height: 0;
  width: 0;
}

html::-webkit-scrollbar-corner {
  background: 0 0;
}

html::-webkit-scrollbar-thumb,
html::-webkit-scrollbar-track,
html::-webkit-scrollbar-track-piece {
  border-width: 4px !important;
}

html::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  background-clip: padding-box;
  border: 1px solid transparent;
  border-left-width: 6px;
  min-height: 28px;
  padding: 100px 0 0;
  box-shadow: inset 1px 1px 0 rgb(0 0 0 / 10%), inset 0 -1px 0 rgb(0 0 0 / 7%);
}

html::-webkit-scrollbar-track {
  box-shadow: none;
  margin: 0 4px;
  background-clip: padding-box;
  border: solid transparent;
  border-width: 0 0 0 4px;
}

::selection {
  background-color: var(--color-pastelgreen);
}

/* ////////////////////// */
/* Header */
.header {
  height: 100vh;
  position: relative;
  background-image: linear-gradient(
      to right bottom,
      rgba(44, 83, 100, 0.96),
      rgba(15, 32, 39, 0.96),
      rgba(32, 58, 67, 0.96)
    ),
    url('img/desert__background.jpg');
  background-size: cover;
  background-position: center;
}

/* Nav Bar */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-primary-trans);
  backdrop-filter: saturate(180%) blur(2rem);
  box-shadow: 0 0 2rem var(--color-black-shadow-light);
  border-radius: 0 0 2rem 2rem;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  z-index: 1000;
  overflow: hidden;
  transition: all 0.2s cubic-bezier(0, 0.48, 0.16, 0.99);
  height: 9rem;
  width: 80%;
  max-height: 80vh;
  padding: 5rem;
}

.logo {
  font-size: 4rem;
  font-weight: 700;
  letter-spacing: 0.6rem;
}

.nav__hamburger {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 8rem;
  height: 8rem;
  border: none;
  background: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.nav__hamburger span {
  position: absolute;
  width: 5rem;
  height: 0.6rem;
  border-radius: 24px;
  background: var(--color-matteblack);
  transition: all 0.5s ease-in-out;
  box-shadow: var(--color-black-shadow-dark);
}

.nav__hamburger span:nth-child(1) {
  transform: translateY(-1.6rem);
}

.nav__hamburger span:nth-child(3) {
  transform: translateY(1.6rem);
}

/* Responsive Menu Animation */
.nav__hamburger.open :nth-child(1) {
  transform: rotate(45deg);
  width: 4rem;
}

.nav__hamburger.open span:nth-child(2) {
  transform: translateX(-5rem);
  opacity: 0;
  box-shadow: none;
}

.nav__hamburger.open :nth-child(3) {
  transform: rotate(-45deg);
  width: 4rem;
}

.nav__drawer {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1001;
  transform: translate(100%);
  height: 100%;
  width: 80vw;
  max-width: 35rem;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border-radius: 2rem 0 0 2rem;
  box-shadow: 0 0 3rem var(--color-black-shadow-dark);
  background-color: var(--color-primary-trans);
  backdrop-filter: saturate(180%) blur(2rem);
  transition: all 0.5s cubic-bezier(0.88, 0.03, 0.13, 1.01);
}

.nav__links {
  overflow: auto;
  scroll-behavior: smooth;
  height: 100%;
  list-style: none;
  overflow: hidden;
}

.nav__item {
  padding: 1rem 0;
  border-bottom: 2px solid var(--color-matteblack-trans);
  opacity: 0;
}

.nav__item a {
  font-size: 2rem;
  padding: 1rem;
  transition: all 0.2s ease;
  text-transform: uppercase;
  font-weight: 900;
}

/* Nav Items Animation */
@keyframes nav__item-animation {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.active {
  transform: translate(0%);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
}

/* Header Section */
.title__container {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.title__prim {
  display: block;
  font-size: 11rem;
  line-height: 1.2;
  letter-spacing: 1rem;
  padding-bottom: 2rem;
  background-image: linear-gradient(to right, #40e0d0, #ff8c00, #ff0080);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  text-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.title__sub {
  display: block;
  font-size: 3rem;
  line-height: 1.2;
  letter-spacing: 2rem;
  padding-bottom: 4rem;
}

.btn {
  display: inline-block;
  background: none;
  font-size: 1.7rem;
  font-family: inherit;
  font-weight: 500;
  border: none;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  cursor: pointer;
  transition: all 0.3s;
}

/* change later */
.section {
  padding: 15rem 3rem;
  border-top: 1px solid #ddd;

  transition: transform 1s, opacity 1s;
}

/* MEDIA QUERIES */

@media all and (max-width: 768px) {
  /* Nav Bar */
  .nav {
    width: 100%;
  }
}

@media all and (max-width: 480px) {
}

@media all and (max-width: 320px) {
}
